<h2 id="title">Welcome to Bay Deli</h2>
<ul class= "nav">
<li class="li-nav"><a href= '/breakfast'> Breakfast</a></li>
<li class="li-nav"><a href= '/lunches'> Lunch Specials </a></li>
<li class="li-nav"><a href ='/catering'> Catering </a></li>
<li class="li-nav"><a href= '/contacts'> Contact Info </a></li>
</ul>


<footer> 
<a href="instagram"> <img src= ""></a>

</footer>

{{outlet}}
